<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <appSettings>
    <add key="ContractDeploymentUrl" value="https://public-node.testnet.rsk.co/2.0.1/"/>
    <add key="PrivateKey" value="0xd8c5adcac8d465c5a2d0772b86788e014ddec516"/>
    <add key="Thumbprint" value="3d54e2bb9850bcd9e20edac0f5135dc939a05a69"/>
    <add key="RskTestnetNodeUrl" value="https://public-node.testnet.rsk.co"/>
    <add key="RskMainnetNodeUrl" value="https://public-node.rsk.co"/>
    <add key="RnsTestNetRegistry" value="0xcb868aeabd31e2b66f74e9a55cf064abb31a4ad5"/>
    <add key="RnsMainNetRegistry" value="0x7d284aaac6e925aad802a53c0c69efe3764597b8"/>
  </appSettings>

</configuration>
